---
import { getCollection, render, type CollectionEntry } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const posts = await getCollection('articles');
  return posts.map((post: CollectionEntry<'articles'>) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout>
  <main class="centered-main">
    <article class="article-content">
      <h1>{post.data.title}</h1>
      <p><small>{post.data.pubDate.toDateString()} — by {post.data.author}</small></p>
      <Content />
    </article>
  </main>
</Layout>
