---
// src/pages/articles.astro
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('articles');
---

<Layout>
  <main class="centered-main">
    <h1 class="article-h1">Articles</h1>
    <ul class="article-list">
      {posts.map(post => (
        <li>
          <a href={`/posts/${post.id}`}>
            <h2>{post.data.title}</h2>
          </a>
          <p>{post.data.description}</p>
          <small>{post.data.pubDate.toDateString()}</small>
        </li>
      ))}
    </ul>
  </main>
</Layout>
