---
// import Welcome from '../components/Welcome.astro';
// import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---


	<h1>Hey buddy. I'm starting from here.</h1>
	<p>Let's see what i can reach in few weeks</p>

