---
// import Welcome from '../components/Welcome.astro';
// import Layout from '../layouts/Layout.astro';
import '../styles/global.css'
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<body background="/src/assets/background-pattern.webp">
	<header>
		<nav class="header-container">
			<div class="logo">
			  <div class="logo-text">
				<span class="prompt">simonespinedi$ </span>
				<span id="typed-text" class="typed-text"></span>
			  </div>
			</div>
		  
			<!-- wrapper con position relative per allineare il menu -->
			<div class="menu-wrapper">
			  <button id="menu-toggle" class="menu-toggle" aria-label="Open menu">&#9776;</button>
			  <div id="right-buttons" class="right-buttons">
				<a href="/articles" class="article-buttons">articles</a>
				<a href="/whoami" class="whoami-buttons">#whoami</a>
			  </div>
			</div>
		  </nav>
		  
			  
		  
</header>

<section class="central-section">
	<div class="catchy-quotes">
		<h1>Network Engineering and the power of Automation</h1>
	</div>
</section>
<section class="bottom-section">
	<footer class="footer-icons">
		<div class="icon-container">




		</div>
	</footer>
</section>


</body>

<script type="module" src="/src/scripts/typing.js"></script>
<script type="module" src="/src/scripts/menu-toggle.js"></script>

