---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <section class="central-section">
    <section class="left-side">
      <div class="catchy-quotes">
        <h1>Network Engineering<br>and the power of<br>Network Automation</h1>
      </div>
      <div class="achievement-pngs">
        <img src="/src/assets/ccna.png" alt="CCNA Certified" />
        <img src="/src/assets/devasc.png" alt="DevAsc Certified" />
      </div>
      <div class="general-knowledge">
        <img src="/src/assets/bash.png" alt="BASH language" />
        <img src="/src/assets/devops.png" alt="DevOps practices" class="wide-devops" />
        <img src="/src/assets/python.png" alt="Python" />
      </div>
    </section>
    <section class="right-side">
      <div class="catchy-illustration">
        <img src="/src/assets/dc-image.png" alt="Data Center Illustration" />
      </div>
    </section>
</Layout>





