---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <main class="centered-main">
    <section class="whoami-section">
    <div class="myimage">
        <img src="/src/assets/me.png" alt="Simone Spinedi" />
    </div>
    <div class="whoami-text">
        <h1>Who am I?</h1>
        <p>
        My name is Simone, I'm an Italian passionate about the Tech World. My main expertise is on Network Engineering. Stuff like tweak protocols, create tunnels, filtering traffic and so on.<br><br>
        Anyway, I don't want to be a self-bottleneck. So I started growing skills on system administration, automation and development.<br><br>
        My life motto is <b>"I'm not the G.O.A.T but I fit the description"</b>, an absolute quote from Lil Baby in the song "Want and Needs" with Drake. Standing to my motto, I do not pretend to be the great master in any area, but I can give my contribution.<br><br>
        <b>What you can find here?</b><br>
        My growth. Me expanding my abilities. And maybe something useful.
        </p>
    </div>
    </section>
    </main>
</Layout>