---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <main class="centered-main">
        <section class="whoami-section">

        
            <h1>Who am I?</h1>
            <p>
                My name is Simone, I'm an Italian passionate about the Tech World. <br> My main expertise is on Network Engineering. Stuff like tweak protocols, create tunnels, filtering traffic and so on.        </p>
            <p>
                Anyway, I don't want to be a <br> self-bottleneck. So i started growing skills on system administration, automation and development.
            </p>
            <p>
                My life motto is <b>"I'm not the G.O.A.T but i fit the description"</b>, an absolute quote from Lil Baby in the song "Want and Needs" with Drake. Standing to my motto, i do not pretend to be expert in any area, but i can give my contribution.
            </p> 
            <h3>What you can find here?</h3>    
            <p>
                My growth. Me expanding my abiities. And maybe something useful.
            </p>
        </section>
    </main>
</Layout>