---
// layout.astro
import '../styles/global.css';
const currentYear = new Date().getFullYear();
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>simonespinedi</title>
    <slot name="head" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <header>
      <nav class="header-container">
        <div class="logo">
          <div class="logo-text">
            <a href="/" class="logo-link">
              <span class="prompt">simonespinedi$</span>
            </a>
            <span id="typed-text" class="typed-text"></span>
          </div>
        </div>

        <div class="menu-wrapper">
          <button id="menu-toggle" class="menu-toggle" aria-label="Open menu">&#9776;</button>
          <div id="right-buttons" class="right-buttons">
            <a href="/articles" class="article-buttons">articles</a>
            <a href="/whoami" class="whoami-buttons">#whoami</a>
          </div>
        </div>
      </nav>
    </header>
    <div class="page-content">
    <main>
      <slot />
    </main>

 <footer class="footer-icons bottom-section">
  <div class="icon-container">
    <a href="https://github.com/simonespinedi" target="_blank" rel="noopener">
      <img src="/src/assets/github.png" alt="GitHub profile" />
    </a>
    <a href="https://x.com/spinedisimone" target="_blank" rel="noopener">
      <img src="/src/assets/x.png" alt="Twitter profile" />
    </a>
    <a href="https://www.linkedin.com/in/simonespinedi/" target="_blank" rel="noopener">
      <img src="/src/assets/linkedin.png" alt="LinkedIn profile" />
    </a>
    <a href="https://www.threads.com/@simonespinedi" target="_blank" rel="noopener">
      <img src="/src/assets/threads.png" alt="Threads profile" />
    </a>
    &copy; {currentYear} simonespinedi
  </div>
</footer>
    </div>


    <script type="module" src="/src/scripts/typing.js"></script>
    <script type="module" src="/src/scripts/menu-toggle.js"></script>
  </body>
</html>
