---
// layout.astro
import '../styles/global.css';
const currentYear = new Date().getFullYear();
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>simonespinedi</title>
    <slot name="head" />
  </head>
  <body>
    <header>
      <nav class="header-container">
        <div class="logo">
          <div class="logo-text">
            <a href="/" class="logo-link">
              <span class="prompt">simonespinedi$</span>
            </a>
            <span id="typed-text" class="typed-text"></span>
          </div>
        </div>

        <div class="menu-wrapper">
          <button id="menu-toggle" class="menu-toggle" aria-label="Open menu">&#9776;</button>
          <div id="right-buttons" class="right-buttons">
            <a href="/articles" class="article-buttons">articles</a>
            <a href="/whoami" class="whoami-buttons">#whoami</a>
          </div>
        </div>
      </nav>
    </header>
    <div class="page-content">>
    <main>
      <slot />
    </main>

    <footer class="footer-icons bottom-section">
      <div class="icon-container">
        &copy; {currentYear} simonespinedi
      </div>
    </footer>
    </div>

    <script type="module" src="/src/scripts/typing.js"></script>
    <script type="module" src="/src/scripts/menu-toggle.js"></script>
  </body>
</html>
